body{
    background-color: rgba(0, 0, 0, 0.926);
    width: 100%;
    height: 100%;
}

#hama{
    background-color: goldenrod;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;

}

.link{
   text-decoration: none;
    font-size: 35px;
    color: snow;
    font-family: ubuntu;
    margin: 20px;
}

.link :hover{
    font-weight: bolder;
    }
.vedio{
    align-items: center;
    height: 500px;
    border-radius: 30px;
    margin: 50px;
}

footer{
    background-color: goldenrod;
    height: 30Ppx;
    text-align:center ;
    color: snow;
    font-size: 30px;
}